@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(campos:List[Campo])(region : String)

@main("OilCol S.A") {
    <div class="container">
            <!-- /.row -->

            <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <p>Campos de la región @region
                    <a  href="/resources/@region/campos/create">
                        <button type="submit" class="btn btn-primary">Agregar campo</button>
                    </a>
                    </p>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/resources">Regiones</a></li>
                    <li class="active">Campos</li>
                </ol>
            </div>
        </div>
            <!-- /.row -->

            <!-- Team Members -->
        <div class="row">
            <div class="list-group">
            @for(campo<-campos) {
                <a href="/resources" class="list-group-item-action">
                    <div>
                        <h3>
                            <i class="fa fa-align-center fa-3x fa-map-pin"></i>
                            Campo de @campo.getLocalidad()
                        </h3><br>
                        <p>
                        @if(campo.getJefeDeCampo() != null){
                            Jefe de campo: @campo.getJefeDeCampo().getNombre()
                        }else {
                            No hay jefe de campo
                        }
                        </p>
                        <p>Pozos: @campo.getCantidadPozos</p>
                        <a href="@routes.CampoController.delete(region, campo.getId)"><button class="btn btn-default">Borrar</button></a>
                    </div>
                </a><hr>
            }
            </div>
        </div>
            <!-- /.row -->
    </div>
}
