@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(campos:List[Campo])

@main("OilCol S.A") {
    <div class="container">
            <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Acerca de OilCol</h1>
            </div>
        </div>
            <!-- /.row -->

            <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Nuestro equipo
                    <a  href="/about/register">
                        <button type="submit" class="btn btn-primary">Crear usuario</button>
                    </a>
                </h2>
            </div>
            @for(usuario<-usuarios){
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" height="200" width="200" src="@usuario.getAvatar()" >
                    <div class="caption">
                        <h3>@usuario.getNombre()<br>
                            <small>@usuario.getCargo</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-3x fa-pencil"></i></a>
                            </li>
                            <li><a href="@routes.UsuarioController.delete(usuario.getId())"><i class="fa fa-3x fa-trash" style="color:brown"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
            }

        </div>
            <!-- /.row -->
    </div>
}
