@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@main("Welcome to Play") {
    <!--<div ng-app>
        <h1>Welcome to Scala Play + Bootstrap + AngularJS</h1>
        <form role="form">
            <div class="form-group">
                <label for="sometext">Type in some text:</label>
                <input id="sometext" class="form-control" ng-model="sometext" autofocus>
            </div>
        </form>
        <div class="alert alert-success" ng-show="sometext">
            <strong>You typed:</strong> {{ sometext }}
        </div>
    </div>-->

        <!-- Page Content -->
    <div class="container">
            <!-- Header Carousel -->
        <header id="myCarousel" class="carousel slide">
                <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

                <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill" style="background-image:url('https://pixabay.com/static/uploads/photo/2014/11/01/18/07/oil-rig-512526_960_720.jpg');"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('https://pixabay.com/static/uploads/photo/2014/11/02/14/19/refinery-513993_960_720.jpg');"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('https://pixabay.com/static/uploads/photo/2015/02/21/00/14/oilfield-643836_960_720.jpg');"></div>
                </div>
            </div>

                <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </header>
            <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    OilCol S.A
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Experiencia</h4>
                    </div>
                    <div class="panel-body">
                        <p>Más de 25 años de experiencia en la extracción de petróleo de pozos perforados en todo el territorio nacional</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-plus"></i> Cantidad</h4>
                    </div>
                    <div class="panel-body">
                        <p>OilCol tiene a su cargo alrededor de 1200 pozos de crudo operados con equipos propios.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Cubrimiento</h4>
                    </div>
                    <div class="panel-body">
                        <p>90 campos distintos, que se encuentran agrupados dentro de 5 regiones geográficas a nivel nacional.</p>
                    </div>
                </div>
            </div>
        </div>
            <!-- /.row -->

            <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Situación</h2>
            </div>
            <div class="col-md-8">
                <p>Actualmente, OilCol cuenta con un proceso manual de monitoreo de los pozos por parte de operarios. Este proceso es manual, propenso a errores, retrasa y dificulta la toma de decisiones claves para el negocio.</p>
                <p>OilCol desea que para finales 2020 todo su proceso de monitoreo esté automatizado a través de sensores y un sistema de procesamiento de la información recopilada.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="http://i.imgur.com/uhGcDoz.png" alt="">
            </div>
        </div>
            <!-- /.row -->

        <hr>

            <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <p>Capa de presentación para el proyecto realizado por el grupo LANN</p>
                </div>
            </div>
        </div>
    </div>
        <!-- jQuery -->
    <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

        <!-- Script to Activate the Carousel -->
    <script>
            $('.carousel').carousel({
                interval: 3500 //changes the speed
            })
    </script>
}
