@(message:String)

@main("OilCol S.A") {    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Regiones</h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Regiones</li>
                </ol>
            </div>
        </div>
            <!-- /.row -->

            <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center">
                <p><i class="fa fa-map-marker fa-4x"></i>
                </p>
            </div>
            <div class="col-md-4">
                <img src="http://i.imgur.com/RXs54Kw.gif" width="300" alt="">
            </div>
            <div class="col-md-7">
                <h3>
                    <a href="resources">Región caribe</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <a class="btn btn-primary" href="/resources/Caribe/campos">Ver campos <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
            <!-- /.row -->

        <hr>

            <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center">
                <p><i class="fa fa-map-marker fa-4x"></i>
                </p>
            </div>
            <div class="col-md-4">
                <img src="http://i.imgur.com/j1cliSA.gif" width="300" alt="">
            </div>
            <div class="col-md-7">
                <h3>
                    <a href="resources">Región andina</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <a class="btn btn-primary" href="/resources/Andina/campos">Ver campos <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
            <!-- /.row -->

        <hr>

            <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center">
                <p><i class="fa fa-map-marker fa-4x"></i>
                </p>
            </div>
            <div class="col-md-4">
                <img src="http://i.imgur.com/vh3JAt3.gif" width="300" alt="">
            </div>
            <div class="col-md-7">
                <h3>
                    <a href="resources">Región pacífico</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <a class="btn btn-primary" href="/resources/Pacifico/campos">Ver campos <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
            <!-- /.row -->

        <hr>

            <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center">
                <p><i class="fa fa-map-marker fa-4x"></i>
                </p>
            </div>
            <div class="col-md-4">
                <img src="http://i.imgur.com/LOO7qs3.gif" width="300" alt="">
            </div>
            <div class="col-md-7">
                <h3>
                    <a href="resources">Región orinoquía</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <a class="btn btn-primary" href="/resources/Orinoquia/campos">Ver campos <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
            <!-- /.row -->

        <hr>

            <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center">
                <p><i class="fa fa-map-marker fa-4x"></i>
                </p>
            </div>
            <div class="col-md-4">
                <img src="http://i.imgur.com/Jzkxptr.gif" width="300" alt="">
            </div>
            <div class="col-md-7">
                <h3>
                    <a href="resources">Región amazonas</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <a class="btn btn-primary" href="@routes.CampoController.getCamposRegion("Amazonas")">Ver campos <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
            <!-- /.row -->

    </div>
        <!-- /.container -->
}
