@main("Inicio sesión") {
<!-- Page Content -->
    <body>

        <div class="container col-lg-4 col-lg-offset-4">
            <form class="form-signin">
                <h2 class="form-signin-heading">Inicio de sesión</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Usuario" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required=""><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Cancelar</button>
            </form>

        </div> <!-- /container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
}
