@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(tiempo: String)(idPozo:Long)(caudal:List[MensajeCaudal])(energia:List[MensajeEnergia])(temperatura:List[MensajeTemperatura])(emergencia: List[MensajeEmergencia])

@main("Reporte") {
    <!-- Page Content -->
        <!-- Custom CSS -->
    <link href="../../../public/stylesheets/sb-admin-2.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
    <link href="../../../public/stylesheets/morris.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

        <!-- flot -->
    <script src="../../../public/javascripts/flot/jquery.flot.js"></script>
    <script src="../../../public/javascripts/flot/jquery.flot.time.js"></script>
    <script type="text/javascript">
            $(function() {

                function doPlot(position) {

                    var valoresEnergia = [];
                    //var fechasEnergia = [];
                    @for(e <- energia){
                        valoresEnergia.push([@e.getConsumoEnergia, @e.getFechaEnvio]);
                        //fechasEnergia.push(@e.getFechaEnvio);
                    }

                    var valoresCaudal = [];
                    //var fechasCaudal = [];
                    @for(c <- caudal){
                        valoresCaudal.push([@c.getCaudal, @c.getFechaEnvio]);
                        //fechasCaudal.push(@c.getFechaEnvio);
                    }

                    var valoresTemperatura = [];
                    //var fechasTemperatura = [];
                    @for(t <- temperatura){
                        valoresTemperatura.push([@t.getTemperatura, @t.getFechaEnvio]);
                        //fechasTemperatura.push(@t.getFechaEnvio);
                    }

                    $.plot("#placeholder", [valoresEnergia, valoresCaudal, valoresTemperatura]);
                }

                doPlot("right");

                $("button").click(function () {
                    doPlot($(this).text());
                });
            });

    </script>


    <div id="wrapper">

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Reporte para el pozo @idPozo</h1>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-plug fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@energia.size()</div>
                                    <div>Reportes de energía!</div>
                                </div>
                            </div>
                        </div>
                        <a @if(tiempo.equals("dia")){
                            href="@routes.MensajeController.energiaPozoDia(idPozo)"
                        } else {
                            href="@routes.MensajeController.energiaPozoMes(idPozo)"
                        }>
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tint fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@caudal.size()</div>
                                    <div>Reportes caudal!</div>
                                </div>
                            </div>
                        </div>
                        <a @if(tiempo.equals("dia")){
                            href="@routes.MensajeController.caudalPozoDia(idPozo)"
                        } else {
                            href="@routes.MensajeController.caudalPozoMes(idPozo)"
                        }>
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-thermometer-quarter fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@temperatura.size()</div>
                                    <div>Reportes de temperatura!</div>
                                </div>
                            </div>
                        </div>
                        <a @if(tiempo.equals("dia")){
                            href="@routes.MensajeController.temperaturaPozoDia(idPozo)"
                        } else {
                            href="@routes.MensajeController.temperaturaPozoMes(idPozo)"
                        }>
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-exclamation-triangle fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@emergencia.size()</div>
                                    <div>Reportes de emergencia!</div>
                                </div>
                            </div>
                        </div>
                        <a @if(tiempo.equals("dia")){
                            href="@routes.MensajeController.emergenciasPozoDia(idPozo)"
                        } else {
                            href="@routes.MensajeController.emergenciasPozoMes(idPozo)"
                        }>
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
                <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div id="placeholder"></div>
                </div>
                    <!-- /.col-lg-8 -->
                <div class="hidden-sm hidden-xs col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Emergencias
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                @for(e <- emergencia) {
                                    <a class="list-group-item">
                                        <p>
                                            <i class="fa fa-warning fa-fw"></i>
                                            @e.getEmergencia;
                                            <span class="pull-right text-muted small"><em>@e.getFechaEnvio.format("dd/MM/yy")  @e.getFechaEnvio.format("hh:mm")</em>
                                            </span>
                                        </p>
                                    </a>
                                }
                            </div>
                                <!-- /.list-group -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                        <!-- /.panel -->
                        <!-- /.panel .chat-panel -->
                </div>
                    <!-- /.col-lg-4 -->
            </div>
                <!-- /.row -->
        </div>
            <!-- /#page-wrapper -->

    </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
    <script src="../../../public/javascripts/jquery.min.js"></script>

        <!-- Morris Charts JavaScript -->
    <script src="../../../public/javascripts/raphael.min.js"></script>
    <script src="../../../public/javascripts/morris.min.js"></script>
    <script src="../../../public/javascripts/morris-data.js"></script>

        <!-- Custom Theme JavaScript -->
    <script src="../../../public/javascripts/sb-admin-2.js"></script>

    <!-- /.container -->

}
