@(usuarioForm:Form[Usuario])

@import helper._;

@main("Crear usuario") {



    <!-- Page Content -->
    <div class="container">
        <div class="main-content form-group">
            <h3>Crear nuevo usuario</h3><hr>
            @helper.form(routes.UsuarioController.save(), 'class -> "form-horizontal"){
                <fieldset class="form-group">
                    @inputText(usuarioForm("nombre"), '_label -> "Nombre")
                    @inputText(usuarioForm("nivelAcceso"), '_label -> "Nivel de acceso")
                    @inputText(usuarioForm("cargo"), '_label -> "Cargo")
                    @inputText(usuarioForm("edad"), '_label -> "Edad")
                    @inputText(usuarioForm("avatar"), '_label -> "Avatar")
                </fieldset>
                <div class="control-group">
                    <div class="controls">
                        <input id="create" type="submit" value="Save" class="btn btn-primary">
                        <a class="btn" href="@routes.UsuarioController.fetch()">Cancel</a>
                    </div>
                </div>
            }

        </div>
    </div>
        <!-- /.container -->
}