@import emums.EstadoPozo
@(pozos: List[Pozo])(idCampo :Long)

@main("OilCol S.A."){
    <div class="container">
            <!-- /.row -->

            <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <p>Pozos del campo @idCampo
                        <a  href="/resources/campos/@idCampo/pozos/create">
                            <button type="submit" class="btn btn-primary">Agregar pozo</button>
                        </a>
                    </p>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/resources">Regiones</a></li>
                    @if(pozos.size!=0){
                    <li><a href="/resources/@pozos(0).getCampo.getRegion/campos">Campos </a></li>
                    } else{
                    }
                    <li class="active">Pozos</li>
                </ol>
            </div>
        </div>
            <!-- /.row -->

            <!-- Team Members -->
        <div class="row">
            <ul class="list-group">
            @for(pozo<-pozos) {
                <div class="col-md-6">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-8">
                        <h3>Pozo número @pozo.getId</h3><br>
                        <p><b>Estado:</b> @pozo.getEstado</p>
                        <p><b>Coordenadas:</b></p>
                        <p>Longitud: @pozo.getLongitud  Latitud: @pozo.getLatitud</p>
                        </div>
                        <div class ="col-md-4">
                            <br>
                            <br>
                            <br>
                            <center><a  href="@routes.MensajeController.reporteDiario(pozo.getId)">
                                <button class="btn btn-default">Reporte diario</button>
                            </a>
                            <br>
                            <br>
                            <a  href="@routes.MensajeController.reporteMensual(pozo.getId)">
                                <button class="btn btn-default">Reporte mensual</button>
                            </a>
                            </center>
                        </div>
                    </div>
                    <ul class="list-inline">
                        <li><a href="@routes.MensajeController.services(pozo.getId)"><i class="fa fa-2x fa-info-circle"></i></a>
                        </li>
                        <li><a href="@routes.PozoController.delete(idCampo, pozo.getId)"><i class="fa fa-2x fa-trash" style="color:brown"></i></a>
                        </li>
                        @if(pozo.getEstado.equals(EstadoPozo.ABIERTO)){
                            <li><a  href="/resources/campos/@idCampo/pozos/producir/@pozo.getId">
                                <button type="submit" class="btn btn-primary">Producción</button>
                            </a></li>
                        } else {
                            @if(pozo.getEstado.equals(EstadoPozo.PARADO)){
                                <li><a  href="/resources/campos/@idCampo/pozos/reabrir/@pozo.getId">
                                    <button type="submit" class="btn btn-primary">Reabrir</button>
                                </a></li>
                                <li><a  href="/resources/campos/@idCampo/pozos/producir/@pozo.getId">
                                    <button type="submit" class="btn btn-primary">Producción</button>
                                </a></li>
                            } else {
                                @if(pozo.getEstado.equals(EstadoPozo.PRODUCCION)){
                                    <li><a  href="/resources/campos/@idCampo/pozos/detener/@pozo.getId">
                                        <button type="submit" class="btn btn-primary">Detener</button></a>
                                    </li>
                                    <li><a  href="/resources/campos/@idCampo/pozos/clausurar/@pozo.getId">
                                        <button type="submit" class="btn btn-primary">Clausurar</button></a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </li>
                </div>

            }
            </ul>
        </div>
            <!-- /.row -->
    </div>

}